@import '~antd/dist/antd.css';

/*################## MIXINS ################*/
@mixin transition($s) {
  -webkit-transition: all $s ease-in-out;
  -moz-transition: all $s ease-in-out;
  -ms-transition: all $s ease-in-out;
  -o-transition: all $s ease-in-out;
  transition: all $s ease-in-out;
}
@mixin border-radius($r){
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}
@mixin animate($name,$time,$type){
  -webkit-animation: $name $time $type; 
  -moz-animation: $name $time $type; 
  -o-animation: $name $time $type;
  animation: $name $time $type;
}
/*################## END MIXINS ################*/
.table{
  display:table;
  width:100%;
  height:100%;
}
.row{
  display:table-row;
  width:100%;
}
.table.row{
  display:table;
}
.cell{
  display:table-cell;
  width:100%;
  height:100%;
  vertical-align:middle;
}
.inline{
  display:inline-block;
}
// .block{
//   display:block;
// }
.a-left{
  text-align: left;
}
.a-right{
  text-align: right;
}
.a-center{
  text-align: center;
}
// .nowrap{
//   white-space: nowrap;
// }
// .relative{
//   position: relative;
//   width: 100%;
//   height: 100%;
// }
// .overflow-hidden{
//   overflow: hidden;
// }
.cell:first-child:nth-last-child(1) {
  width:100%;
}
.cell:first-child:nth-last-child(2),
.cell:first-child:nth-last-child(2) ~ .cell {
  width:50%;
}
.cell:first-child:nth-last-child(3),
.cell:first-child:nth-last-child(3) ~ .cell {
  width:33.3333%;
}
.cell:first-child:nth-last-child(4),
.cell:first-child:nth-last-child(4) ~ .cell {
  width:25%;
}
.cell:first-child:nth-last-child(5),
.cell:first-child:nth-last-child(5) ~ .cell {
  width:20%;
}

html,body,
#root,.app,
.page{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}
body{
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  background:url('img/tiny_grid.png');
}
.page{
  position: relative;
  @include transition(.3s);
}

//Materialize and ANT have issues together
a.btn:hover {
  color: #fff;
}

.main-wrap{
  max-width: 1000px;
  width: 98%;
  margin:0 auto;
}

.logo{
  color:#3ec7c2;
  text-transform: uppercase;
  font-weight: 900;
  font-size:30px;
  letter-spacing: 5px;
}

.header{
  background:url('img/binding_dark.png');
  border-bottom:1px solid #3ec7c2;
  padding:0 50px;
  @media (max-width:767px){
    padding:0 10px;
  }
  i{
    color:#fff;
    font-size: 30px;
    line-height: 25px;
    height: 30px;
    vertical-align: middle;
  }
  &.table{
    height: auto;
  }
  > .main-wrap > .cell:first-child{
    width:33.33% !important;
  }
  > .main-wrap > .cell:last-child{
    width:66.66% !important;
  }
  .nav-bar-responsive-icon{
    display: none;
    @media (max-width:767px){
      display: inline-block;
    }
  }
}
.ant-layout{
  background:transparent;
}
.ant-main-layout{
  height:100%;
}
.ant-layout-footer{
  background:url('img/binding_dark.png');
  color:#fff;
}

.header .ant-menu{
  color:#fff;
  background: transparent;
  border-bottom: 0;
  line-height:64px;
  text-align: right;
  .ant-menu-item{
    text-align: center;
    font-size:1.25vw;
    text-transform: uppercase;
    display:inline-block;
    position: relative;
    margin-left:1px;
    cursor: pointer;
    float: none;
    color:#fff;
    a{
      color: inherit;
    }
    &:before{
      content:'';
      position:absolute;
      left:-1px;
      top:0;
      width:1px;
      height:100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,3ec7c2+50,000000+100 */
      background: #000000; /* Old browsers */
      background: -moz-linear-gradient(top, #000000 0%, #3ec7c2 50%, #000000 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #000000 0%,#3ec7c2 50%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #000000 0%,#3ec7c2 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    }
    &.ant-menu-item-selected, &:hover{
      color:#3ec7c2;
    }
    @media (min-width:1140px){
      font-size: 16px;
    }
  }
}
.page > .ant-menu{
  position:fixed;
  width:40vw;
  height: 100%;
  left:100%;
  top:0;
  @include transition(.3s);
  .ant-menu-item{
    display: block;
    float: none;
    color:#fff;
    border-top:1px solid #3ec7c2;
  }
}
.responsive-menu-open{
  transform: translateX(-40vw);
}

.login-form{
  background: #fefefe;
  max-width:500px;
  margin:0 auto;
  width:95%;
  padding:2vw;
  box-shadow: 0 0 15px rgba(100,100,100,.25);
  @include border-radius(5px);
  @media (min-width:1140px){
    padding:40px;
  }
  @media (max-width:767px){
    padding:5vh 5vw;
  }
}

/*SECONDARY MENU*/
.secondary-menu{
  width:200px;
  background: #fff;
  padding-top:48px;
  overflow: hidden;
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
  }
  .trigger:hover {
    color: #108ee9;
  }
  &.ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    margin-right:0;
  }
  &.ant-layout-sider-collapsed .nav-text {
    display: none;
  }
  &.ant-layout-sider-collapsed .ant-menu-submenu-title{
    text-align: center;
  }
  &.ant-layout-sider-collapsed .ant-menu-submenu-title:after {
    display: none;
  }
  .ant-layout-sider-trigger{
    top:0;
  }
}

.sensor{
  width:25%;
  .waves-effect.waves-light.btn:hover{
    color:#fff;
  }
}

.user-table{
  padding:0 20px;
  input{
    margin-bottom:0;
    height: auto;
    font-size:inherit;
  }
  .editable-row-operations a{
    margin:0 5px;
  }
  .ant-table-row{
    td:nth-child(1){
      width:10%;
    }
    td:nth-child(2),td:nth-child(3){
      width:35%;
    }
    td:nth-child(4){
      width:20%;
    }
  }
  .add-user-btn{
    margin-bottom:10px;
  }
}
